<div class="page-header">
  <h1 class="page-title">Facilities</h1>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">CICS Makerspace</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <tbody>
            <tr>
              <td>Soldering</td>
            </tr>
            <tr>
              <td>3D Printing</td>
            </tr>
            <tr>
              <td>Hand Tools</td>
            </tr>
            <tr>
              <td>Power Tools</td>
            </tr>
            <tr>
              <td>DIY Electronics Components</td>
            </tr>
            <tr>
              <td>Oscilloscopes</td>
            </tr>
            <tr>
              <td>Multimeters</td>
            </tr>
            <tr>
              <td>Laser Cutter</td>
            </tr>
            <tr>
              <td>Drill Press</td>
            </tr>
            <tr>
              <td>Miter Saw</td>
            </tr>
            <tr>
              <td>Band Saw</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">All Campus Makerspace</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <tbody>
            <tr>
              <td>Sewing Tools</td>
            </tr>
            <tr>
              <td>3D Printing (stereolithography)</td>
            </tr>
            <tr>
              <td>Table Saw</td>
            </tr>
            <tr>
              <td>Scroll Saw</td>
            </tr>
            <tr>
              <td>Planer</td>
            </tr>
            <tr>
              <td>Oscilloscopes</td>
            </tr>
            <tr>
              <td>Multimeters</td>
            </tr>
            <tr>
              <td>Jointer</td>
            </tr>
            <tr>
              <td>Drill Press</td>
            </tr>
            <tr>
              <td>Miter Saw</td>
            </tr>
            <tr>
              <td>Router</td>
            </tr>
            <tr>
              <td>Bandsaw</td>
            </tr>
            <tr>
              <td>Bench Grinder</td>
            </tr>
            <tr>
              <td>Cold Saw</td>
            </tr>
            <tr>
              <td>Belt and Disc Sander</td>
            </tr>
            <tr>
              <td>Manual Mill</td>
            </tr>
            <tr>
              <td>CNC Mill</td>
            </tr>
            <tr>
              <td>CNC Lathe</td>
            </tr>
            <tr>
              <td>Fastener Library</td>
            </tr>
            <tr>
              <td>Vinyl Cutter</td>
            </tr>
            <tr>
              <td>Laminator</td>
            </tr>
            <tr>
              <td>Tracing Light Box</td>
            </tr>
            <tr>
              <td>Vacuum Chamber</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">M5 Makerspace</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <tbody>
            <tr>
              <td>SMT Lab for Soldering Stations and Supplies</td>
            </tr>
            <tr>
              <td>3d Printing Room</td>
            </tr>
            <tr>
              <td>Arts and Crafts Room</td>
            </tr>
            <tr>
              <td>Microcontrollers</td>
            </tr>
            <tr>
              <td>Passive Electronics Components</td>
            </tr>
            <tr>
              <td>Games to Play!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', hardware_items_path, class: 'btn btn-default', style: 'color: #2196F3' %>
